src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	
	xmlns:microsoft-dynamics-crm="http://www.mulesoft.org/schema/mule/microsoft-dynamics-crm"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
 http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/microsoft-dynamics-crm http://www.mulesoft.org/schema/mule/microsoft-dynamics-crm/current/mule-microsoft-dynamics-crm.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

	<flow name="syncFromSalesforceToDynamicsCrm" doc:id="6dffd3e2-816a-49f1-97b8-d199f9a1a323">
		<batch:job jobName="fromSalesforceBatch" doc:id="58738285-e3b0-4d65-b7e0-05ddd297bf7e">
			<batch:process-records>
				<batch:step name="getAccountInDynamicsCrmStep" doc:id="46741482-04fb-4d8e-8888-9448e0d93bc9">
					<ee:transform doc:name="Set DB query"
						doc:id="c47aabf5-ad6d-4141-9fd0-507849f6ceb6">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="query"><![CDATA[%dw 2.0
output application/java
var accountName = payload.Name replace "'" with "\'"
---
"dsql:SELECT accountid,modifiedon,name  FROM account WHERE name = '$(accountName)'"
]]></ee:set-variable>
							<ee:set-variable variableName="accountData" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<microsoft-dynamics-crm:retrieve-multiple-by-query
						doc:name="query matching account in MS Dynamics" doc:id="61ea0681-9560-4a10-b719-ec141bab170c"
						config-ref="Microsoft_Dynamics_CRM_Dynamics_CRM">
						<microsoft-dynamics-crm:query><![CDATA[#[vars.query]]]></microsoft-dynamics-crm:query>
					</microsoft-dynamics-crm:retrieve-multiple-by-query>
					<ee:transform doc:name="Set Data from matching account"
						doc:id="c119f87d-9095-4962-b961-efe507b06a0c">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
vars.accountData ++ {
	IdCRM: if(sizeOf(payload) > 0) payload[0].accountid else null, 
	LastModifiedDateCRM: if(sizeOf(payload) > 0) payload[0].modifiedon else null	
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<remove-variable doc:name="Remove Variable accountData"
						doc:id="dc2a8789-aad5-4931-a9dd-385815696ac5" variableName="accountData" />
				</batch:step>

				<batch:step name="insertAccountToDynamicsCRM" doc:id="78a74ab4-9b91-416d-985a-acda2ac377ec"
					acceptExpression="#[payload.IdCRM == null]">
						<ee:transform doc:name="Map Accounts for insert"
							doc:id="d484063f-6d81-42ce-98ef-7cec51b04673">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	(accountnumber 		: payload.AccountNumber) if(payload.AccountNumber !=null) ,
	(description 		: payload.Description) if(payload.Description !=null) ,
	(fax 				: payload.Fax) if(payload.Fax !=null) ,
	(name 				: payload.Name) if(payload.Name !=null) ,
	(numberofemployees 	: payload.NumberOfEmployees as Number) if(payload.NumberOfEmployees !=null) ,
	(sic 				: payload.Sic) if(payload.Sic !=null) ,
	(tickersymbol 		: payload.TickerSymbol) if(payload.TickerSymbol !=null) ,
	(revenue 			: payload.AnnualRevenue) if(payload.AnnualRevenue !=null) ,
	(telephone1 			: payload.Phone) if(payload.Phone !=null) ,
	(websiteurl 			: payload.Website) if(payload.Website !=null)
		
}]]></ee:set-payload>
							</ee:message>
						<ee:variables >
							<ee:set-variable variableName="accountData" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
						</ee:variables>
						</ee:transform>
						<microsoft-dynamics-crm:create logicalName="account" doc:name="Insert account to DynCRM" doc:id="9fe76c25-ed3c-4b59-aec6-ab055be1a869" config-ref="Microsoft_Dynamics_CRM_Dynamics_CRM"/>
						<logger level="INFO" doc:name="Log insert" doc:id="fbeb42b3-b5c3-44f0-addd-4ca9788f97f1" message="Insert in DynamicCRM: #[output application/json --- payload]" />
					<set-payload value="#[vars.accountData]" doc:name="Set Payload from variable" doc:id="d5905370-23e4-463a-9e3c-015a254a1a52" mimeType="application/java"/>
				</batch:step>



				<batch:step name="updateAccountInCRM" doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb"
					acceptExpression="#[payload.IdCRM != null  and (payload.LastModifiedDateCRM &lt; payload.LastModifiedDate)]">
						<ee:transform doc:name="Map Accounts for update"
							doc:id="d484063f-6d81-42ce-98ef-7cec51b04672">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	(accountnumber 		: payload.AccountNumber) if(payload.AccountNumber !=null) ,
	(description 		: payload.Description) if(payload.Description !=null) ,
	(fax 				: payload.Fax) if(payload.Fax !=null),
	(name 				: payload.Name) if(payload.Name !=null) ,
	(numberofemployees 	: payload.NumberOfEmployees as Number) if(payload.NumberOfEmployees !=null) ,
	(sic 				: payload.Sic) if(payload.Sic !=null) ,
	(tickersymbol 		: payload.TickerSymbol) if(payload.TickerSymbol !=null) ,
	(revenue 			: payload.AnnualRevenue) if(payload.AnnualRevenue !=null) ,
	(telephone1 		: payload.Phone) if(payload.Phone !=null) ,
	(websiteurl 		: payload.Website) if(payload.Website !=null)		
}]]></ee:set-payload>
							</ee:message>
						<ee:variables >
							<ee:set-variable variableName="msdynId" ><![CDATA[%dw 2.0
output application/java
---
payload.IdCRM]]></ee:set-variable>
							<ee:set-variable variableName="accountData" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
						</ee:variables>
						
</ee:transform>
					<microsoft-dynamics-crm:update logicalName="account" doc:name="Update account to DynCRM" doc:id="55220d08-67c9-4998-8768-679a900b77da" config-ref="Microsoft_Dynamics_CRM_Dynamics_CRM" id="#[vars.msdynId]"/>
					<logger level="INFO" doc:name="Log update" doc:id="25072288-27cf-410c-bb59-2063fe4aae04" message="Update in DynamicCRM: #[output application/json --- payload]"/>
					<set-payload value="#[vars.accountData]" doc:name="Set Payload from variable" doc:id="ee7bc948-67b4-4611-b779-f227597b241a" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<os:store key="syncState"
					xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
					doc:name="Set sync state to fromDynamicsCrm" doc:id="f08de372-2fb9-4aef-80ca-f6da2241fc75"
					objectStore="Object_store" xmlns:os="http://www.mulesoft.org/schema/mule/os">&#13;
					<os:value><![CDATA[fromDynamicsCrm]]></os:value>&#13;
				</os:store>
			</batch:on-complete>
		</batch:job>
	</flow>
	
	<flow name="syncFromDynamicsCrmToSalesforce" doc:id="8759532e-79b7-4789-990c-dc8e162bfd67" >
		<batch:job jobName="fromDynamicsCrmBatch" doc:id="204892ae-0d97-4326-beae-310c8d52b7a6" blockSize="100">
			<batch:process-records>
				<batch:step name="getAccountFromSalesforceStep" doc:id="89713774-362a-4e92-9bdc-41e31802bf38">
					<ee:transform doc:name="Set Variable accountName" doc:id="ab8e839d-b310-4a19-a4c6-95914f1627d7">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="accountName" ><![CDATA[%dw 2.0
output application/java
---
payload.name replace "'" with "\'"]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<salesforce:query-single doc:name="query matching account in Salesforce" doc:id="d8ff60c9-df2c-49bd-af44-6e2974d7b768" config-ref="Salesforce_Config" target="salesforceData">
						<salesforce:salesforce-query >SELECT Id,  LastModifiedDate FROM Account WHERE Name = ':name'</salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output applicaton/java
---
{
	"name" : vars.accountName
}]]]></salesforce:parameters>
					</salesforce:query-single>
					<ee:transform doc:name="Set Id and LastModifiedDate from matching account" doc:id="c119f87d-9095-4962-b961-efe507b06a0c">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ {
	(new_salesforceid: vars.salesforceData.Id) if vars.salesforceData.Id != null, 
	LastModifiedDateSFDC: if (vars.salesforceData.LastModifiedDate != null ) vars.salesforceData.LastModifiedDate else null
	
}
]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<remove-variable doc:name="Remove Variable salesforceData" doc:id="7bbd9b67-7ebc-4886-a813-14dc7b00df30" variableName="salesforceData" />
				
</batch:step>
				<batch:step name="upsertAccountInSalesforce" doc:id="78a74ab4-9b91-416d-985a-acda2ac377ec" acceptExpression="payload.accountid != null  or  payload.LastModifiedDateSFDC  == null or (payload.LastModifiedDateSFDC &lt; payload.modifiedon)">
					<batch:aggregator doc:name="Batch Commit" doc:id="1ad86a98-643e-494a-a90a-32daab0b03cd" size="${page.size}">
						<ee:transform doc:name="Map Accounts for insert" doc:id="d484063f-6d81-42ce-98ef-7cec51b04673">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map {
	AccountNumber 		: $.accountnumber,
	Description 		: $.description,
	Fax 				: $.fax,
	Name 				: $.name,
	NumberOfEmployees 	: $.numberofemployees,
	Sic 				: $.sic,
	TickerSymbol 		: $.tickersymbol,
	AnnualRevenue 		: $.revenue,
	(id					: $.new_salesforceid) if $.new_salesforceid != null,
	Phone 				: $.telephone1,
	Website 			: $.webisteurl
 }]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<salesforce:upsert doc:name="Insert or update Salesforce accounts" doc:id="f727cd3f-721d-448c-81b7-81ee9420096c" config-ref="Salesforce_Config" externalIdFieldName="Id" type="Account"/>
						<logger level="INFO" doc:name="Log upsert" doc:id="fbeb42b3-b5c3-44f0-addd-4ca9788f97f1" message="Upsert Salesforce A response: #[output application/json --- payload]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
			<os:store key="syncState" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" doc:name="Set sync state to fromSalesforce" doc:id="f08de372-2fb9-4aef-80ca-f6da2241fc75" objectStore="Object_store" xmlns:os="http://www.mulesoft.org/schema/mule/os">&#13;
					<os:value><![CDATA[fromSalesforce]]></os:value>&#13;
			</os:store>
			</batch:on-complete>
</batch:job>
	</flow>
</mule>